---
import '@fontsource/sarabun/400.css';
import '@fontsource/sarabun/700.css';
import sarabunLatin400Url from '@fontsource/sarabun/files/sarabun-latin-400-normal.woff2?url'
import sarabunLatin700Url from '@fontsource/sarabun/files/sarabun-latin-700-normal.woff2?url'
import sarabunThai400Url from '@fontsource/sarabun/files/sarabun-thai-400-normal.woff2?url'
import sarabunThai700Url from '@fontsource/sarabun/files/sarabun-thai-700-normal.woff2?url'
import { getCollection } from 'astro:content';
import { orderBy } from 'lodash-es'
import dayjs from 'dayjs'

const programmers = await getCollection('programmers')
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>ทดสอบการ Pull Request บน GitHub | นครโค้ด</title>
    <link rel="preload" as="font" type="font/woff2" href={sarabunLatin400Url} crossorigin="anonymous" />
    <link rel="preload" as="font" type="font/woff2" href={sarabunLatin700Url} crossorigin="anonymous" />
    <link rel="preload" as="font" type="font/woff2" href={sarabunThai400Url} crossorigin="anonymous" />
    <link rel="preload" as="font" type="font/woff2" href={sarabunThai700Url} crossorigin="anonymous" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
	</head>
	<body class="bg-gray-900 text-white">
    <nav class="bg-gray-950">
      <ul class="flex gap-2 items-center p-4">
        <li><a class="nav-link" target="_blank" href="https://nakorncode.com">เว็บไซต์หลัก</a></li>
        <li><a class="nav-link" target="_blank" href="https://www.youtube.com/@nakorncode">YouTube: นครโค้ด</a></li>
        <li><a class="nav-link" target="_blank" href="https://github.com/nakorncode/workshop">GitHub: nakorncode/workshop</a></li>
      </ul>
    </nav>
		<main class="p-4">
      <h2 class="text-xl font-bold mb-2">ขั้นตอนการฝึกใช้ GitHub Pull Request</h2>
      <section class="bg-gray-800 text-white p-4 rounded-lg shadow-lg mb-4">
        <ol class="list-decimal pl-6 space-y-1 text-gray-300">
          <li>Fork <a href="https://github.com/nakorncode/workshop" target="_blank" class="link">https://github.com/nakorncode/workshop</a></li>
          <li>Clone โปรเจกต์ที่เพิ่งได้ Fork ลงบนเครื่องของเรา</li>
          <li>เพิ่มไฟล์ที่โฟลเดอร์ <code>./github-pull-request/src/content/programmers/*.json</code> ตั้งชื่อไฟล์เป็นชื่อจริง-นามสกุลของเรา สามารถดูจากตัวอย่างคนอื่นได้</li>
          <li>กำหนดข้อมูลรูปแบบด้านล่างที่ถูกต้อง สำหรับแสดงผลข้อมูลโปรไฟล์ของเรา</li>
          <li>สำหรับผู้สนใจดูตัวอย่างผลลัพธ์ สามารถติดตั้ง <a href="https://nodejs.org" target="_blank" class="link">Node.js</a> และใช้คำสั่ง <code>npm install && npm run dev</code> ที่โฟลเดอร์นี้</li>
          <li>Commit และ Push ไปยัง Remote Repository ของคุณ</li>
          <li>ส่งคำขอ Pull Request มาที่ <a href="https://github.com/nakorncode/workshop/pulls" target="_blank" class="link">https://github.com/nakorncode/workshop/pulls</a> โดยเลือก Forked Repository ของคุณ และสามารถเขียนคำขอได้อย่างอิสระ</li>
          <li>รอการรับ Pull Request จากผู้สอน จากนั้นระบบจะสร้างหน้าเว็บพร้อมข้อมูลใหม่ หากไม่มีการตอบกลับบน Pull Request แนะนำให้ติดต่อผู้สอนที่ <a href="https://www.facebook.com/nakorncode" target="_blank" class="link">Facebook: นครโค้ด</a></li>
        </ol>
        <pre class="mt-4 overflow-auto">
<code class="!p-3">&lbrace;
  "displayName": "ชื่อจริง-นามสกุล",
  "message": "(ไม่บังคับ) ข้อความที่จะแสดงผล",
  "githubUrl": "(ไม่บังคับ) URL ของ GitHub ต้องเป็นรูปแบบลิงก์ที่ถูกต้อง",
  "created": Unix TimeStamp โดยต้องไม่มีเครื่องหมาย Double-quote เพราะต้องเป็นจำนวนเต็ม และนำเวลาปัจจุบันมาใช้ แนะนำสร้างจาก Text Power Tools
&rbrace;</code></pre>
      </section>

      <h2 class="text-xl font-bold mb-4 mt-8">รายชื่อผู้เข้าร่วมฝึกฝน Pull Request (เรียงตามเวลาที่สร้าง)</h2>
      <ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4">
        {orderBy(programmers, 'data.created', 'desc').map((programmer) => {
          const { githubUrl, displayName, message, created } = programmer.data
          const createdTimestamp = dayjs.unix(created).format('DD/MM/YYYY HH:mm')
          return (
            <li class="bg-gray-800 p-3 rounded-lg shadow-lg flex flex-col">
              <div class="flex-1">
                <h3 class="text-lg font-bold">{displayName}</h3>
                {message && typeof message === 'string' && (
                  <div class="mt-1 text-sm text-gray-300">
                    {message}
                  </div>
                )}
              </div>
              <div class="flex mt-4 items-end">
                {githubUrl && typeof githubUrl === 'string' && (
                  <div class="text-sm">
                    <a href={githubUrl} target="_blank" class="link">
                      GitHub: {githubUrl.split('/').at(-1)}
                    </a>
                  </div>
                )}
                <p class="ml-auto text-xs text-gray-400">{createdTimestamp}</p>
              </div>
            </li>
          );
        })}
      </ul>
    </main>
	</body>
</html>

<style>
.nav-link {
  @apply p-2 font-bold hover:bg-gray-800 rounded transition;
}
code {
  @apply inline-block font-mono px-1 rounded-md bg-gray-950
}
.link {
  @apply underline text-blue-200
}
</style>
